In [6]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

1. Kazada ölenlerin yaş ortalamasını bulunuz

In [10]:
olen_yas_ort = titanic.loc[titanic['survived'] == 0, 'age'].mean()
print("Kazada ölenlerin yaş ortalaması:", olen_yas_ort)

Kazada ölenlerin yaş ortalaması: 30.62617924528302

2. Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [11]:
olen_fiyat_ort = titanic.loc[titanic['survived'] == 0, 'fare'].mean()
olen_fiyat_medyan = titanic.loc[titanic['survived'] == 0, 'fare'].median()

print("Kazada ölenlerin bilet fiyatlarının ortalaması:", olen_fiyat_ort)
print("Kazada ölenlerin bilet fiyatlarının medyanı:", olen_fiyat_medyan)

Kazada ölenlerin bilet fiyatlarının ortalaması: 22.117886885245902
Kazada ölenlerin bilet fiyatlarının medyanı: 10.5

3. Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [13]:
olen_erkek_yas_ort = titanic.loc[(titanic['survived'] == 0) & (titanic['sex'] == 'male'), 'age'].mean()

print("Kazada ölen erkeklerin yaş ortalaması:", olen_erkek_yas_ort)

Kazada ölen erkeklerin yaş ortalaması: 31.618055555555557

4. Kazada ölen kadınların yaş ortalamasını bulunuz

In [16]:
olen_kadin_yas_ort = titanic.loc[(titanic['survived'] == 0) & (titanic['sex'] == 'female'), 'age'].mean()

print("Kazada ölen kadınların yaş ortalaması:", olen_kadin_yas_ort)

Kazada ölen kadınların yaş ortalaması: 25.046875

5.Kazadan kurtulanların yaş ortalamasını bulunuz

In [17]:
kurtulan_yas_ort = titanic.loc[titanic['survived'] == 1, 'age'].mean()

print("Kazadan kurtulanların yaş ortalaması:", kurtulan_yas_ort)

Kazadan kurtulanların yaş ortalaması: 28.343689655172415

6.Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [19]:
kurtulan_fiyat_ort = titanic.loc[titanic['survived'] == 1, 'fare'].mean()

print("Kazadan kurtulanların bilet fiyatlarının ortalaması:", kurtulan_fiyat_ort)

Kazadan kurtulanların bilet fiyatlarının ortalaması: 48.39540760233918

7. Kazadan kurtulan toplam kişi sayısını bulunuz…

In [27]:
kurtulan_sayisi = titanic.loc[titanic['survived'] == 1, 'survived'].count()

print("Kazadan kurtulan toplam kişi sayısı:", kurtulan_sayisi)

# len ile

kurtulan_toplam = len(titanic[(titanic.survived==1)])

print("Kazadan kurtulan toplam kişi sayısı:", kurtulan_toplam)

Kazadan kurtulan toplam kişi sayısı: 342
Kazadan kurtulan toplam kişi sayısı: 342

8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [28]:
on_yas_alt_fiyat_medyan = titanic.loc[titanic['age'] < 10, 'fare'].median()

print("10 yaşından küçüklerin bilet fiyatlarının medyan değeri:", on_yas_alt_fiyat_medyan)

10 yaşından küçüklerin bilet fiyatlarının medyan değeri: 27.0

9. 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. (Pclass değişkeni sınıfları barındırmaktadır.)

In [35]:
sinif_bilgileri = titanic.groupby('pclass')['fare'].agg(['mean', 'median']).reset_index()

print("Bilet fiyatlarının sınıflara göre ortalama ve medyan değerleri:")
print(sinif_bilgileri)

Bilet fiyatlarının sınıflara göre ortalama ve medyan değerleri:
   pclass       mean   median
0       1  84.154687  60.2875
1       2  20.662183  14.2500
2       3  13.675550   8.0500

10. Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.

In [44]:
toplam_erkek = titanic[titanic['sex'] == 'male'].shape[0]
toplam_kadin = titanic[titanic['sex'] == 'female'].shape[0]

olen_erkek = titanic[(titanic['survived'] == 0) & (titanic['sex'] == 'male')].shape[0]
olen_kadin = titanic[(titanic['survived'] == 0) & (titanic['sex'] == 'female')].shape[0]

oran_erkek = olen_erkek / toplam_erkek if toplam_erkek != 0 else None
oran_kadin = olen_kadin / toplam_kadin if toplam_kadin != 0 else None

print(f"Kadınların ölüm oranı: {oran_kadin:.2%}")
print(f"Erkeklerin ölüm oranı: {oran_erkek:.2%}")

Kadınların ölüm oranı: 25.80%
Erkeklerin ölüm oranı: 81.11%